@import url('https://fonts.googleapis.com/css?family=Audiowide');

html {
    background: #000000 url(/pics/greencat-banner.png);
    background-repeat:no-repeat;
    background-position: right top;
    background-size: 256px;
    font-family: sans-serif;    
}

iframe {
    width: 650px;
    height: 800px;
}
    
.wrapper { 
    width: 690px;
    margin: 150px auto;
}

.box {
    background: #00ff00;
    padding: 20px;
    box-shadow: 5px 5px 0px #888888;
    margin-bottom: 30px;    
}

.small {
    font-size: 0.8em;
}

code {
    background: #bcb;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: #000000;
    margin: 0;
}
