@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

html {
    background: #000000 url("../pics/greencat-banner.png");
    background-repeat:no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 256px;
    font-family: 'Ubuntu', sans-serif; 
    color: #0f0;
}

.banner-image {
  background-image:  url("../pics/ltc_banner.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

iframe {
    width: 650px;
    height: 800px;
}
    
.wrapper { 
    width: 690px;
    margin: 150px auto;
    margin-top: 5px;
}

.box {
    background: #111;
    border: 3px solid #0f0;
    border-radius: 10px;
    padding: 20px;
    padding-right: 0px;
    box-shadow: 5px 5px 0px #888888;
    margin-bottom: 30px;
}

.small {
    font-size: 0.8em;
}

code {
    background: #464;
}

h1 {
    color: #0F0;
    margin: 0;
}

button, .button {
    background-color: #121;
    border: none;
    border-radius: 5px;
    color: #00ff00;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cbox2 {
  float: left;
  width: 49%;
  padding: 15px;
}

.cbox3 {
  float: left;
  width: 32.33%;
  padding: 15px;
}

.cboxr:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .cbox2, .cbox3 {
    width: 100%;
  }
}
