Options +Indexes
AddDescription "Suspending on a chromebook with Arch" "suspending-on-a-chromebook-with-arch.html"
AddDescription "You should remap your power key to suspend on laptops" "you-should-remap-your-power-key-to-suspend-on-laptops.html" #Tue, 01 Oct 2019 16:45:52 -0400
